In [2]:
#READ DATASET
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

awards_players_data = pd.read_csv("../basketballPlayoffs/awards_players.csv")

In [3]:
# SIZE OF DATA
awards_players_data.shape

(95, 4)

In [4]:
# CHECK FOR DUPLICATED LINES
awards_players_data.duplicated().any()

False

In [5]:
# SEE THE FIRST ROWS
awards_players_data.head()

     playerID                               award  year  lgID
0  thompti01w  All-Star Game Most Valuable Player     1  WNBA
1  leslili01w  All-Star Game Most Valuable Player     2  WNBA
2  leslili01w  All-Star Game Most Valuable Player     3  WNBA
3  teaslni01w  All-Star Game Most Valuable Player     4  WNBA
4  swoopsh01w  All-Star Game Most Valuable Player     6  WNBA

In [6]:
# DESCRIPTION OF EACH ATTRIBUTE OF THE DATASET
awards_players_data.describe()

            year
count  95.000000
mean    5.789474
std     2.747900
min     1.000000
25%     3.500000
50%     7.000000
75%     8.000000
max    10.000000

In [7]:
# DESCRIPTION OF FUEL ATTRIBUTE OF THE DATASET
awards_players_data.describe(include='object')

          playerID                 award  lgID
count           95                    95    95
unique          58                    12     1
top     leslili01w  WNBA All-Decade Team  WNBA
freq            10                    10    95

In [8]:
# TYPES
awards_players_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  95 non-null     object
 1   award     95 non-null     object
 2   year      95 non-null     int64
 3   lgID      95 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.1+ KB