In [1]:
#READ DATASET
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

players_data = pd.read_csv("../basketballPlayoffs/players.csv")

In [2]:
# SIZE OF DATA
players_data.shape

(893, 10)

In [3]:
# CHECK FOR DUPLICATED LINES
players_data.duplicated().any()

False

In [4]:
# SEE THE FIRST ROWS
players_data.head()

,bioID,pos,firstseason,lastseason,height,weight,college,collegeOther,birthDate,deathDate
0,abrahta01w,C,0,0,74.0,190,George Washington,NaN,1975-09-27,0000-00-00
1,abrossv01w,F,0,0,74.0,169,Connecticut,NaN,1980-07-09,0000-00-00
2,adairje01w,C,0,0,76.0,197,George Washington,NaN,1986-12-19,0000-00-00
3,adamsda01w,F-C,0,0,73.0,239,Texas A&M,Jefferson College (JC),1989-02-19,0000-00-00
4,adamsjo01w,C,0,0,75.0,180,New Mexico,NaN,1981-05-24,0000-00-00

In [5]:
# DESCRIPTION OF EACH ATTRIBUTE OF THE DATASET
players_data.describe()

       firstseason  lastseason      height      weight
count        893.0       893.0  893.000000  893.000000
mean           0.0         0.0   65.500560  145.415454
std            0.0         0.0   20.940425   61.275703
min            0.0         0.0    0.000000    0.000000
25%            0.0         0.0   68.000000  140.000000
50%            0.0         0.0   72.000000  162.000000
75%            0.0         0.0   75.000000  180.000000
max            0.0         0.0   80.000000  254.000000

In [6]:
# DESCRIPTION OF FUEL ATTRIBUTE OF THE DATASET
players_data.describe(include='object')

             bioID  pos    college        collegeOther   birthDate   deathDate
count          893  815        726                  11         893         893
unique         893    7        160                  11         764           5
top     badertr01w    G  Tennessee  Scottsdale CC (JC)  0000-00-00  0000-00-00
freq             1  309         38                   1          84         889

In [7]:
# TYPES
players_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   bioID         893 non-null    object
 1   pos           815 non-null    object
 2   firstseason   893 non-null    int64
 3   lastseason    893 non-null    int64
 4   height        893 non-null    float64
 5   weight        893 non-null    int64
 6   college       726 non-null    object
 7   collegeOther  11 non-null     object
 8   birthDate     893 non-null    object
 9   deathDate     893 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 69.9+ KB