In [1]:
#READ DATASET
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

series_post_data = pd.read_csv("../basketballPlayoffs/series_post.csv")

In [2]:
# SIZE OF DATA
series_post_data.shape

(70, 9)

In [3]:
# CHECK FOR DUPLICATED LINES
series_post_data.duplicated().any()

False

In [4]:
# SEE THE FIRST ROWS
series_post_data.head()

   year round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser  W  L
0     1    FR      A        CLE       WNBA       ORL      WNBA  2  1
1     1    FR      B        NYL       WNBA       WAS      WNBA  2  0
2     1    FR      C        LAS       WNBA       PHO      WNBA  2  0
3     1    FR      D        HOU       WNBA       SAC      WNBA  2  0
4     1    CF      E        HOU       WNBA       LAS      WNBA  2  0

In [5]:
# DESCRIPTION OF EACH ATTRIBUTE OF THE DATASET
series_post_data.describe()

           year          W          L
count  70.00000  70.000000  70.000000
mean    5.50000   2.071429   0.614286
std     2.89302   0.259399   0.572127
min     1.00000   2.000000   0.000000
25%     3.00000   2.000000   0.000000
50%     5.50000   2.000000   1.000000
75%     8.00000   2.000000   1.000000
max    10.00000   3.000000   2.000000

In [6]:
# DESCRIPTION OF FUEL ATTRIBUTE OF THE DATASET
series_post_data.describe(include='object')

       round series tmIDWinner lgIDWinner tmIDLoser lgIDLoser
count     70     70         70         70        70        70
unique     3      7         14          1        18         1
top       FR      B        DET       WNBA       NYL      WNBA
freq      40     10         12         70         7        70

In [7]:
# TYPES
series_post_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        70 non-null     int64
 1   round       70 non-null     object
 2   series      70 non-null     object
 3   tmIDWinner  70 non-null     object
 4   lgIDWinner  70 non-null     object
 5   tmIDLoser   70 non-null     object
 6   lgIDLoser   70 non-null     object
 7   W           70 non-null     int64
 8   L           70 non-null     int64
dtypes: int64(3), object(6)
memory usage: 5.0+ KB